/**Nav styles**/
.nav {
    padding: 2rem 0;
}

.nav__icon, .nav__close, .nav__bgOverlay {
    display: none;
}

.nav__wrapper {
    display: flex;
    justify-content: space-between;
}

.nav__list__wrapper li {
    display: inline-block;
    margin: 0 1rem;
}

.nav__list .nav__link {
    font-size: 1.9rem;
    font-family: 'Poppins';
    color: var(--black-2);
    padding: 0.5rem;
}

.nav__list li:hover .nav__link {
    color: var(--green-2);
}

@media only screen and (max-width: 768px ) {
   .nav {
        position: relative;
    }
    .nav__icon {
        display: block;
        cursor: pointer;
    }
    .nav__icon svg, .nav__close svg {
        pointer-events: none;
        height: 30px;
        width: 30px;
    }

    .nav__close {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: var(--black-1);
        cursor: pointer;
    }
    .nav__list {
        z-index: 1000;
        left: 100%;
        position: absolute;
        top: 0;
        height: 100vh;
        width: 80%;
        background: var(--lightGreen-1);
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding-right: 2rem;
        overflow: hidden;
        transition: 0.3s ease-in transform ;
    }
    .nav__list.show {
        transform: translate(-100%);
    }
    .nav__list li {
        display: block;
        text-align: right;
        margin-bottom: 2rem;
    }
    .nav__list a, .nav__list .nav__link {
        font-size: 1.6rem;
    }

    .nav__bgOverlay {
        position: absolute;
        background: rgba(18,24,14,0.808);
        left: 0;
        top: 0;
        z-index: 1000;
        height: 100vh;
        width: 100%;
        display: none;
    }
    .nav__bgOverlay.active {
        display: block;
    }
}

/**Global Button Styles **/
.btn {
    color: var(--green-1);
    font-family:  Poppins;
    font-weight: 500;
    border-radius: 8px;
    font-size: 1.4rem;
    padding: 1.2rem 2rem;
}
.primary-btn {
    color: var(--white);
    background: var(--green-1);
}

@media only screen and (min-width: 768px) {
    .btn {
        padding: 1.3rem 2rem;
        font-size: 2rem;
    }
}